<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head>
<title>Candidates</title>
</head>
<body>
	<div layout:fragment="content">
		<section class="content-header">
		    <h1>Candidatos</h1>
		    <ol class="breadcrumb">
		        <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> Home</a></li>
		        <li class="active">Candidatos</li>
    		</ol>
		</section>
		
		 <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Listado</h3>
                    <a class="btn btn-default pull-right" th:href="@{/candidates/create}">
                    <i class="ion-ios-plus"></i>
                    Nuevo</a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="data-table" class="table table-bordered table-striped">
                        <thead>
                            <tr >
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Aplica para</th>
                                <th>Fecha Alta</th>
                                <th>Currículum</th>
                                <th>Acción</th>
                            </tr>
                        </thead> 
                        <tbody>
                            
                                <tr th:each="candidate : ${candidates}" th:attr="data-id=${candidate.id}, data-name=${candidate.name}"><!-- data-id="10" -->
                                 <td>
                                 <a th:href="@{/candidates/edit/__${candidate.id}__}"  th:text="${candidate.id}"></a>
                                 </td>
                                    <td th:text="${candidate.name}"> 
                                    </td>
                                    <td th:text="${candidate.positionApplied}"> 
                                    </td>
                                    <td th:text="${#dates.format(candidate.createdAt, 'dd-MMM-yyyy HH:ss')}">Agregado el</td>
                                    <!-- <td>
                                    <a href="#" target="_blank">Descargar
                                        <i class="ion-archive"></i></a>
                                    </td>-->
                                     <td>
                                    <a th:href="@{/candidates/cv/__${candidate.id}__}" target="_blank" th:if="${candidate.cvMimeType}">Descargar
                                        <i class="ion-archive"></i>
                                        </a>
                                    </td>
                                    <td>
                                     	<a th:href="@{/candidates/edit/__${candidate.id}__}" class="btn btn-small btn-warning" >
                                     		<i class="ion-edit"></i>
                                     	</a>
                                     	<button name="delete" class="btn btn-small btn-danger" type="button">
                                     		<i class="ion-trash-a"></i>
                                     	</button>
                                     
                                     </td>
                                </tr>
                         
                            
                        </tbody>
                        <tfoot>
                            <tr>
                               <th>Id</th>
                                <th>Nombre</th>
                                <th>Aplica para</th>
                                <th>Fecha Alta</th>
                                <th>Currículum</th>
                                <th>Acción</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
	</div>
	<th:block layout:fragment="scripts">
	<link rel="stylesheet" th:href="@{/resources/datatables.net-bs/css/dataTables.bootstrap.min.css}" />
    <!-- DataTables -->
    <script th:src="@{/resources/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/resources/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
    <!-- SlimScroll -->
    <script th:src="@{/resources/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
    <!-- FastClick -->
    <script th:src="@{/resources/fastclick/lib/fastclick.js}"></script>
    
    <script th:inline="javascript">
    var jscontroller = (function(){
    	var configureActions = function(){
    		  $("button[name='delete']").on("click", function (event) {
    			  var self = $(this);
    			  var tr = self.closest("tr");
    			  var id = tr.data("id");
    			  var name = tr.data("name");
    			  bootbox.confirm("¿Eliminar a <b>"+ name + "</b>?", function(result) {
    				  if(result===true){
    					  
    					  var options = {
    		                        url: [[@{/candidates/delete/}]] + id, 
    		                        type: "DELETE",
    		                        data: null
    		                    };
    		                    $.ajax(options)
    		                    .done(function( data ) {
    		                    	  tr.fadeOut(500, function () {
    		                          });
    		                      });
    					  
    				  }
    				}); 
    			  
              });
    		}
    	
    	var unbindActions = function(){
    		$("button[name='delete']").unbind("click");
    	};
    	  var start = function () {
    		  configureActions();
    		  //Para cuando cambie la página
    		  $(".paginate_button").on("click",function(){
    			  unbindActions();
    			  configureActions();	  
    		  })
    		  
    		  $("select[name='data-table_length']").on("change", function(){
    			  unbindActions();
    			  configureActions();
    		  });
          };
    	return{
    		start:start
    	}
    })();
    
    $(function () {
        $('#data-table').DataTable({
            'paging': true,
            language: {
            	search:"Buscar",
            	lengthMenu:    "Mostrar _MENU_ entradas",
            	info:   "Mostrando ( _START_ - _END_ ) de _TOTAL_ elementos",
            	paginate: {
                    first:      "Primero",
                    previous:   "Anterior",
                    next:       "Siguiente",
                    last:       "Último"
                }
            }
        })
         
        jscontroller.start();
        
    })
   
    
    </script>
	</th:block>
	
</body>
</html>